body{

    margin: 0;
    padding: 0;


}

.navbar{

    
    display: flex;
    background-color: #1F2937;
    margin: 0;
    padding: 60px;
    

}
.header-image{

    
    flex: 2;

}
.header-image img{

    margin-left: 60px;


}
.navbar-links{

    
    flex: 2;
    text-align: center;
    align-items: center;
}
.navbar-links a{

    margin-left: 100px;
    
    padding:50px;
    margin:auto;
    font-size: 18px;
    text-decoration: none;
    color : #e5e7eb
    
    
        
    
}
.navbar-links a:hover{

    
    color: #3882f6;
    
    
        
    
}
.content-section{

    display: flex;
    background-color: #1F2937;;
    padding: 50px;

}
.content-info{

    flex: 2;
    justify-content: center;
    align-items: center;

}
.content-info h2{

    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    color: #f0f8fa;
}
.content-info span{

    
    display: block;
    color: #f0f8fa;
}
.content-info p{

    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
}
.content-info button{

    margin-left: 50px;
    font-size: 18px;
    background-color:#3882f6;
    color: #e5e7eb;
    border-radius: 10%;
}
.content-image{

    flex: 2;
    text-align: center;


}
h3{

    text-align: center;
    font-size: 36px;
    color: #1F2937;


}
.teams-section{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    font-size: 20px;

}
#gs-logo{

    width: 80px;
    height: auto;
    


}
#fb-logo{

    width: 100px;
    height: auto;


}
#bjk-logo{

    width: 80px;
    height: auto;


}
#ts-logo{

    width: 100px;
    height: auto;


}
.teams-section  p{

    text-align: center;
    


}
.info-section{

    background-color:#E5E7EB ;
    padding: 100px;
    text-align: center;
    

}
.sign-up_section{

    padding: 100px;
    


}
.sign-up_content{

    display: flex;
    background-color: #3882f6;
    width: 900px;
    height: auto;
    margin: auto;
    border-radius: 3rem;
}
.first-part{

    flex: 2;
    justify-content: center;
    align-items: center;
}
.first-part h3{

    text-align: center;
    color: white;
    font-size: 18px;

}
.first-part p{

    text-align: center;
    color: white;

}
.second-part{

    flex: 1;
    

}
.second-part button{

    padding:5px 20px;
    background-color: #3882f6;
    margin-top: 35px;
    border:1px solid white;
    color: white;
    border-radius: 10%;
}
.second-part button:hover{

    padding:5px 20px;
    background-color: white;
    
    border:1px solid white;
    color: #3882f6;
    border-radius: 10%;
}
footer{

    padding:20px;
    text-align: center;
    background-color: #1F2937;
    
    

}
footer p{

    text-align: center;
    color: #E5E7EB;
    
    

}